# Track only the reproduction code, runtime setup, and README assets.
/*
!/.gitignore
!/LICENSE
!/Qwen_VL_Chat/
!/README.md
!/assets/
!/environment.yml
!/experiments/
!/multimodalrag.py
!/qwenvl/
!/utils/

/Qwen_VL_Chat/*
!/Qwen_VL_Chat/LICENSE
!/Qwen_VL_Chat/NOTICE
!/Qwen_VL_Chat/__init__.py
!/Qwen_VL_Chat/configuration_qwen.py
!/Qwen_VL_Chat/modeling_qwen.py
!/Qwen_VL_Chat/qwen_generation_utils.py
!/Qwen_VL_Chat/visual.py

/assets/*
!/assets/method.png

/experiments/*
!/experiments/effectiveness/
!/experiments/harmlessness/
!/experiments/retrieval_data.py
!/experiments/robustness/
!/experiments/stealthiness/

/experiments/effectiveness/*
!/experiments/effectiveness/CGSR.py
!/experiments/effectiveness/calculate_fprtpr.py
!/experiments/effectiveness/pvalue.py
!/experiments/effectiveness/rank.py

/experiments/harmlessness/*
!/experiments/harmlessness/normal_query.py

/experiments/robustness/*
!/experiments/robustness/process_img.py
!/experiments/robustness/table.py

/experiments/stealthiness/*
!/experiments/stealthiness/calculate_retrieval_ratio.py

/qwenvl/*
!/qwenvl/run_qwenvl.py

/utils/*
!/utils/index_metadata.py
!/utils/indexing_faiss.py
